<!DOCTYPE html>
<html>
<head>
  <title>Rubycourse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  Ruby Course Rank
</div>

<div id="main">
    <%= yield %>
</div>

<div id="footer">
  The rank refresh is triggered manually by course admin - some task states may not be up to date.
</div>

</body>
</html>
